.question {
	height: 100px;
	
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	padding: 12px;
	margin: 12px;

}

.question__title {
	font-size: 30px !important;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 20px;
}

.word {
	padding: 29px 12px;
	display: flex;
	gap: 10px;
	justify-content: center;
}
.userProfile,
.userProfile div{
	width: 150px;
	display: flex;
	flex-direction: column;
	margin-right: auto;
}
.userProfile p {
	display: block;
	margin: 0 auto;
}
